#region-footer {
  position: fixed;
  bottom: 20px;
  right: 55px;
  left: auto;
  transform: none;
  z-index: 3;
}

.region-container {
  position: relative;
}

#region-toggle {
  padding: 12px 22px;
  border-radius: 22px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  color: #fff;

  background: rgba(255, 255, 255, 0.129);
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);

  box-shadow:
    inset 0 1px 1px rgba(255,255,255,0.4),
    0 10px 30px rgba(0, 0, 0, 0.077);
}


#region-list {
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  padding: 10px;
  margin: 0;
  border-radius: 18px;
  min-width: 200px;
  display: none;

  background: rgba(254, 252, 252, 0.058);
  backdrop-filter: blur(24px) saturate(180%);
  -webkit-backdrop-filter: blur(24px) saturate(180%);

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.852);
}

#region-list li {
  padding: 12px 18px;
  border-radius: 14px;
  color: rgba(255,255,255,0.95);
  cursor: pointer;
  transition: background 0.25s ease;
}

#region-list li:hover {
  background: rgba(255,255,255,0.22);
}

  
  

